<%= form_with(model: tipo_atendimento, local: true) do |f| %>
  <% if tipo_atendimento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tipo_atendimento.errors.count, "error") %> prohibited this tipo_atendimento from being saved:</h2>
      <ul>
      <% tipo_atendimento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <%= f.label "Descrição", class:"col-sm-2 col-form-label" %>
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.text_field :descricao, value: @tipo_atendimento&.descricao , class:"form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-4 col-sm-offset-2">
      <%= f.submit "Salvar", class: 'btn btn-primary' %>
      <%= link_to "Voltar", tipo_atendimentos_path, class: 'btn btn-default' %>
    </div>
  </div>

<% end %>
