
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-icon card-header-rose">
          <div class="card-icon">
            <i class="material-icons">assignment</i>
          </div>
          <h4 class="card-title ">Tipos de Atendimento</h4>
        </div>
        <div class="col-sm-12">
          <div id="datatables_filter" class="dataTables_filter text-right">
            <%= link_to new_tipo_atendimento_path ,class:'btn btn-success' do %>
              <span>Novo</span>
            <% end %>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
              <th>ID</th>
              <th>Descrição</th>
              <th colspan="2"></th>
              </thead>
              <tbody>
              <% @tipo_atendimentos.each do |tipo| %>
                <tr>
                  <td><%= tipo.id %> </td>
                  <td><%= tipo&.descricao %> </td>
                  <td class="td-actions text-right">

                    <%= link_to edit_tipo_atendimento_path(tipo.id),class:'btn btn-success' do %>
                      <i class="material-icons">edit</i>
                    <% end %>
                    <%= link_to tipo_atendimento_path(tipo.id) , method: :delete,class:'btn btn-danger' , data: { confirm: "Deseja realmente excluir?" }  do %>
                      <i class="material-icons">delete</i>
                    <% end %>
                    </button>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>