<%= form_for(@user, :url => (@user.new_record? ? usuarios_path : usuario_path)) do |f| %>

  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <%= f.label "Nome" , class:"col-sm-2 col-form-label"  %>
    <div class="col-sm-10">
      <div class="form-group">
        <%= f.text_field :name, value: user&.name , class:"form-control", disabled: !current_user.adm %>
      </div>
    </div>
  </div>

  <div class="row">
    <%= f.label :email , class:"col-sm-2 col-form-label"  %>
    <div class="col-sm-10">
      <div class="form-group">
        <%= f.text_field :email, value: user&.email , class:"form-control", disabled: !current_user.adm %>
      </div>
    </div>
  </div>

  <div class="row">
    <%= f.label :Senha , class:"col-sm-2 col-form-label"  %>
    <div class="col-sm-10">
      <div class="form-group">
        <%= f.text_field :password, id: 'password', class:"form-control", type:"password", required: user&.password.nil?, disabled: (current_user.id != user.id) && !current_user.adm  %>
      </div>
    </div>
  </div>

  <div class="row">
    <%= f.label "Tipo" , class:"col-sm-2 col-form-label"  %>
    <div class="col-sm-10">
      <div class="form-group">
          <%= f.select :profile, [['Administrador', 1], ['Usuário', 2]], {},
                       {class:"select2 form-control", style: 'width: 100%;', value: perfil(current_user.profile), 'data-placeholder':'Selecione...', disabled: !current_user.adm} %>
        </div>
      </div>
    </div>
  </div>

  </br>

  <div class="form-group">
    <div class="col-sm-4 col-sm-offset-2">
        <%= f.submit "Salvar", class: 'btn btn-primary', disabled: (current_user.id != user.id) && !current_user.adm %>
      <%= link_to "Voltar", usuarios_path, class: 'btn btn-default' %>
    </div>
  </div>

<% end %>

<% content_for :javascript do %>
  <script type="text/javascript">

      $(".select2").select2({
          placeholder: 'Selecione..',
          allowClear: true
      });

  </script>
<% end %>