<!DOCTYPE html>
<html lang="en">

<head>
  <title>Registro de Ponto</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- Material Kit CSS -->
  <%= stylesheet_link_tag   'application' %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


</head>

<body class="">

<div class="wrapper ">
  <div class="sidebar" data-color="rose" data-background-color="black" data-image="/images/loginbackground.png" style="background-color: #294356">

    <div class="logo">

<!--      <a href="" class="simple-text logo-mini">-->

        <a href="<%= root_path %>" class="simple-text logo-normal">
          <p>Registro de Ponto</p>
        </a>

    </div>

    <div class="sidebar-wrapper">

      <div class="user">
        <div class="user-info">
          <a data-toggle="collapse" href="#collapseExample" class="username">
              <span class="text-left">
                <%= current_user.name rescue current_user.email %>
                <b class="caret"></b>
              </span>
          </a>
          <div class="collapse" id="collapseExample">
            <ul class="nav">
              <li class="nav-item">
                <%= link_to edit_usuario_path(current_user.id) ,:class => 'nav-link' do %>
                  <i class="material-icons">account_circle</i>
                  <p>Meu perfil</p>
                <% end %>
              </li>

              <li class="nav-item">
                <%= link_to destroy_user_session_path ,:class => 'nav-link' do %>
                  <i class="material-icons">close</i>
                  <p>Logout</p>
                <% end %>
              </li>

            </ul>
          </div>
        </div>
      </div>

      <ul class="nav">
        <% if current_user.adm %>
        <li class="nav-item">
          <%= link_to horarios_path(horarios: "all") ,:class => 'nav-link' do %>
            <i class="material-icons">alarm</i>
            <p>Horários</p>
          <% end %>
        </li>
        <% end %>
        <li class="nav-item">
          <%= link_to horarios_path ,:class => 'nav-link' do %>
            <i class="material-icons">alarm</i>
            <p>Meus Horários</p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to usuarios_path ,:class => 'nav-link' do %>
            <i class="material-icons">person</i>
            <p>Usuários</p>
          <% end %>
        </li>


      </ul>
    </div>
  </div>
  <div class="main-panel">

    <% flash.each do |type, msg| %>
      <div class="alert alert-info col-sm-4 float-right text-center" style="font-weight: bold;z-index: -1;border-radius: 10px;margin:10px;">
        <%= "&#10003".html_safe + " " if type.include?("notice") %><%= msg %>
      </div>
    <% end %>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <div class="navbar-minimize">
            <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
              <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
              <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
            </button>
          </div>
          <a class="navbar-brand" href="#pablo"> </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">

          <ul class="navbar-nav">

            <li class="nav-item dropdown">
              <i class="material-icons"></i>
              <p class="d-lg-none d-md-block">
                Account
              </p>
        </a>

              <div class="dropdown" aria-labelledby="navbarDropdownProfile">
                <%= link_to destroy_user_session_path do %>
                  <span class="dropdown-item"><i class="fas fa-sign-out-alt"></i>Sair</span>
                <% end %>
              </div>

            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="content">
      <div class="content">
        <div class="container-fluid">
          <!-- your content here -->
          <%= yield %>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">

        </div>
      </footer>
    </div>
  </div>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<%= javascript_include_tag 'application' %>
<script>

      $(document).ready(function(){
          $('.datepicker').datepicker({
              format: "dd/mm/yyyy",
              startView: 1,
              todayBtn: "linked",
              keyboardNavigation: false,
              forceParse: false,
              autoclose: true});
      });

      $(".select2").select2({
          placeholder: 'Selecione..',
          allowClear: true
      });


    $(document).ready(function() {
        $().ready(function() {
            $sidebar = $('.sidebar');

            $sidebar_img_container = $sidebar.find('.sidebar-background');

            $full_page = $('.full-page');

            $sidebar_responsive = $('body > .navbar-collapse');

            window_width = $(window).width();

            fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

            if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
                if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
                    $('.fixed-plugin .dropdown').addClass('open');
                }

            }

            $('.fixed-plugin a').click(function(event) {
                // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
                if ($(this).hasClass('switch-trigger')) {
                    if (event.stopPropagation) {
                        event.stopPropagation();
                    } else if (window.event) {
                        window.event.cancelBubble = true;
                    }
                }
            });

            $('.fixed-plugin .active-color span').click(function() {
                $full_page_background = $('.full-page-background');

                $(this).siblings().removeClass('active');
                $(this).addClass('active');

                var new_color = $(this).data('color');

                if ($sidebar.length != 0) {
                    $sidebar.attr('data-color', new_color);
                }

                if ($full_page.length != 0) {
                    $full_page.attr('filter-color', new_color);
                }

                if ($sidebar_responsive.length != 0) {
                    $sidebar_responsive.attr('data-color', new_color);
                }
            });

            $('.fixed-plugin .background-color .badge').click(function() {
                $(this).siblings().removeClass('active');
                $(this).addClass('active');

                var new_color = $(this).data('background-color');

                if ($sidebar.length != 0) {
                    $sidebar.attr('data-background-color', new_color);
                }
            });

            $('.fixed-plugin .img-holder').click(function() {
                $full_page_background = $('.full-page-background');

                $(this).parent('li').siblings().removeClass('active');
                $(this).parent('li').addClass('active');


                var new_image = $(this).find("img").attr('src');

                if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                    $sidebar_img_container.fadeOut('fast', function() {
                        $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                        $sidebar_img_container.fadeIn('fast');
                    });
                }

                if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                    var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                    $full_page_background.fadeOut('fast', function() {
                        $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                        $full_page_background.fadeIn('fast');
                    });
                }

                if ($('.switch-sidebar-image input:checked').length == 0) {
                    var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
                    var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                    $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                    $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                }

                if ($sidebar_responsive.length != 0) {
                    $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
                }
            });

            $('.switch-sidebar-image input').change(function() {
                $full_page_background = $('.full-page-background');

                $input = $(this);

                if ($input.is(':checked')) {
                    if ($sidebar_img_container.length != 0) {
                        $sidebar_img_container.fadeIn('fast');
                        $sidebar.attr('data-image', '#');
                    }

                    if ($full_page_background.length != 0) {
                        $full_page_background.fadeIn('fast');
                        $full_page.attr('data-image', '#');
                    }

                    background_image = true;
                } else {
                    if ($sidebar_img_container.length != 0) {
                        $sidebar.removeAttr('data-image');
                        $sidebar_img_container.fadeOut('fast');
                    }

                    if ($full_page_background.length != 0) {
                        $full_page.removeAttr('data-image', '#');
                        $full_page_background.fadeOut('fast');
                    }

                    background_image = false;
                }
            });

            $('.switch-sidebar-mini input').change(function() {
                $body = $('body');

                $input = $(this);

                if (md.misc.sidebar_mini_active == true) {
                    $('body').removeClass('sidebar-mini');
                    md.misc.sidebar_mini_active = false;

                    $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

                } else {

                    $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

                    setTimeout(function() {
                        $('body').addClass('sidebar-mini');

                        md.misc.sidebar_mini_active = true;
                    }, 300);
                }

                // we simulate the window Resize so the charts will get updated in realtime.
                var simulateWindowResize = setInterval(function() {
                    window.dispatchEvent(new Event('resize'));
                }, 180);

                // we stop the simulation of Window Resize after the animations are completed
                setTimeout(function() {
                    clearInterval(simulateWindowResize);
                }, 1000);

            });
        });
    });
</script>
<script>
    $(document).ready(function() {
        // Javascript method's body can be found in assets/js/demos.js
        md.initDashboardPageCharts();

        md.initVectorMap();

    });

    $(".alert" ).fadeOut(3000);

    $(function() {
        setTimeout(function() {
            $('.alert').fadeOut(3000);
        }, 5000);
    });

    </script>

</html>
